.customAlignButton {
  display: flex;
  justify-content: center;
  align-items: center;
  //   z-index: 1000;
  padding-bottom: 2%;
}
button.digitalVersion {
  //   margin-left: %;
  font-size: 1rem;
  font-weight: 400;
  padding: 1%;
  height: auto;
  width: auto;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #00ffff, #a020f0);
  z-index: 3;
}
button.digitalVersion:hover,
button.digitalVersion:active,
button.digitalVersion:visited {
  background: linear-gradient(
    to top,
    rgba(32, 22, 84, 0.3) 52%,
    rgba(0, 0, 100, 0)
  );
  transition: all 0.3s ease-in-out;
  color: #000;
}
.customImgHeight {
  height: 80vh !important;
  vertical-align: middle;
}
.customFont {
  font-size: 1.5rem !important;
  color: #000;
}
.business-post-wrap {
  width: 100%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.business-post-wrap .thumb img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}
.customMarginBusiness .details {
  text-align: center;
}
.customMarginBusiness {
  margin-bottom: -1rem !important;
}
.custom-MB {
  margin-bottom: -2rem;
}
.thumb.customHeightWidth {
  height: 80vh;
  width: 90vw;
  margin: auto;
  margin-bottom: 27px;
}
