.cover-post-wrap {
  width: 100%;
  padding-top: 2rem;
  text-align: center;
}
.cover-post-wrap .thumb img {
  height: 80vh;
  width: auto;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}
.cover-post-wrap .details {
  padding-top: 2rem;
}
.cover-post-wrap .details p {
  padding-top: 1rem;
}
.strongHighlighter {
  color: #000;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.paragraphContainer {
  text-transform: none !important;
  text-align: start !important;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 1.5rem;
  color: #000;
}
